* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5rem;  
    font-family: Kumbh Sans;  
}

.block3
{
    text-align: center;
    padding: calc(2rem + 7px);
    margin-top: calc(2rem +1.6vw);
}

.text
{
    margin-bottom: calc(3rem + 1.53vw);
}

.text p
{
    color:#4A556C;
    font-size: 1.125rem;
    max-width: 33.75rem;
    margin: calc(1rem + 0.23vw) auto 2.5rem;  
}

.h2
{
    color: #333461 ;
    font-size: 3rem;   
    line-height: 3.5rem;
}

.h2 span
{
    font-size: 3rem;  
    color: #20AD96;
}

.btn
{
width: 15.625rem;
height: 2.625rem;
background-color:#20AD96;
border-radius:10px;
color: #fff;
}

.after-text p
{
  color: #4A556C;
  font-size: 1rem;
  margin-bottom: 10px;
}

.block2
{
    background-color: #FAF8F6;
    padding: calc(4rem + 3.89vw) calc(10px + 0.69vw);
}

.block2 .h2
{
    font-size: 3rem;   
    line-height: 3.5rem;
    text-align: left;
    padding-left: calc(3.125rem + 60px);
    margin-bottom: calc(1rem + 1.46vw);
}

/* Карусель */
.carousel-container {
    position: relative;
    padding: 0 60px;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.testimonial 
{
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(33.333% - 14px);
    scroll-snap-align: start;
    padding: calc(2rem + 1.11vw);
    background-color: white;
    justify-content: space-between;
    min-height: 391px
}

.testimonial img
{
    border-radius:50%;
    height: 70px;
    width: 69px;
    margin-top: 15px;
    object-fit: cover;
}

.stars img
{
    height: 20px;
    width: 20px;
    margin-top: 15px;
}

.testimonial-text 
{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: auto;
    font-style: italic;
    color: #555;
}

.client-name 
{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 15px;
    color: #333461;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    background:none;
    border: none;
    cursor: pointer;
    z-index: 10;
    display: flex;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.arrow-icon {
    width: 60px;
    height: 60px;
    pointer-events: none;
}















@media (max-width: 1200px) { 
    *
    {font-size: calc(15px + 0.08vw);}
     .testimonial {
        flex: 0 0 calc(50% - 10px);
    }

}

@media (max-width: 1030px) 
{ 
    *
    {font-size: calc( 14px + 0.1vw );}
}
@media (max-width: 800px) { 
    
      .section-title {
        font-size: 2rem;
    }
    
    .testimonial
    {
        min-height: auto;
    }
    
    .testimonial-text {
        font-size: 1rem;
    }
    
    .carousel-container 
    {
        padding: 0 50px;
    }
    
    .carousel-btn, .arrow-icon 
    {
        width: 40px;
        height: 40px;
    }
    
}
@media (max-width: 768px) { 
    *
    {
        font-size:11.2px;
    }


.h2, .h2 span
{
    font-size: calc(0.5rem + 5vw);
}

}

@media (max-width: 650px) 
{
      .testimonial 
    {
        flex: 0 0 100%;
    }

    .block2 .h2
    {
        padding: 0;
        text-align: center;
    }
} 

@media (max-width: 480px) { 
    *
    {
        font-size: 11px;
    }


.h2, .h2 span
{
    font-size: calc(0.5rem + 5vw);
    line-height: normal;
}


}
