* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5rem;  
    font-family: Kumbh Sans;  
}

.block1 {
    background-color: #FAF8F6;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    padding: 0 2.19rem;
    padding-top: 3.44rem;
    gap: calc(4.125rem + 7.25vw);
    min-height: 640px; 
}

.zigzag
{
    height: 17px;
    width: 101px;
}

.content_text
{
    padding: 4.25rem 3.125rem;
}

.content
{
gap: 0.3rem;
height: auto;
}

.subtitle
{
 opacity: 0.4;
 color: #4A556C;
 font-size: 1rem;
}

.h1 
{
font-size: 4.5rem;
color: #333461;
line-height: 120%;
}

.description 
{
 max-width: 34rem;
 color:#4A556C;
 font-size: 1.125rem;
 margin: 1.125rem 0;
 text-align: left

}

.btn
{
width: 15.625rem;
height: 2.625rem;
background-color:#20AD96;
border-radius:10px;
color: #fff;
}

.image-section 
{
    position: relative;
}

.photo_from_1_block 
{
    padding-top: 2.8rem;
    width: auto;
    height: 37.69rem;
    margin-bottom: -3rem; 
}

.success-overlay 
{
    height: 6.5rem;
    position: absolute;
    top: 0rem;
    left: -7.25rem;
    background-color: white;
    padding: 0.625rem 1.25rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.success-overlay span
{
    padding: 0.3rem;
    font-size: 0.75rem;
    color:#4A556C ;
}


.icon {
    width: 3.5rem;
    margin-right: 1rem;
}

.success-text {
    display: flex;
    flex-direction: column;
}

.percentage {
    font-size: 1.5rem !important; 
    font-weight: 700;
    color:#333461 !important;
}


.block2
{
   display: flex;
   flex-direction: column; 
   padding: 6.875rem  calc(5vw + 4.875rem);
   gap:1rem;
   color:#4A556C;
}

.description_for_types
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4.69rem;
}

.h2
{
    font-size: 3rem;
    color: #333461;
    line-height: 3.5rem;
}

.description_for_types_text
{
width: 50%;
font-size: 1.125rem;
}

.types
{
    display: flex;
    flex-wrap: wrap;
    gap:5.56rem;
    justify-content: center;
}

.types img
{
    width: 4.5rem;
    margin-bottom: 1rem;
}
.h3
{
    color: #041434;
    font-size: 1.5rem;
}
.type
{
    display: flex;
    flex-direction: column;
    align-content:start;
    font-size: 1rem;
    max-width: 300px;
    gap: 1rem;
}

.block4
{
    padding: 6.01rem  calc(4rem + 5.49vw);
    display: flex;
    gap:calc(2rem + 1.81vw);
    flex-direction: column;
    align-items:center;    
}

.block4 h2
{
text-align: center;    
} 
.card h3
{
    color:#333461 !important;
    margin-bottom: 0.75rem;
    line-height: 2rem;
}

.card button
{
    justify-content: center !important;
}

.cards
{
display: flex;
justify-content: center;
gap:calc(1rem + 1.6vw);
}

.card img
{
    height: 130px;
}

.card
{   
    color:#4A556C;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    height: 100%;
    max-height: 376px;
    max-width: 22.5rem;
    min-width: 300px;
}

.card_text
{
    padding: 1.5rem 1.75rem;
}

.block5
{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    padding: 8.31rem 6.383rem;
    min-height: 878px; 
}


.block5 .content_text {
    display: flex;
    flex-direction: column;
}

.block5 .description {
    max-width: 34rem;
    color: #4A556C;
    font-size: 1.125rem;
    margin: 1.125rem 0;
    text-align: left; 
}

.transsform_life {
    padding-top: 2rem;
    width: 100%; 
    max-width: 581px; 
    height: auto; 
    min-width: 300px;
}

.free_guid
{
    height: 6.5rem;
    position: absolute;
    top: 0rem;
    right:-2rem;
    display: flex; 
}

.image_icon 
{
    display: flex;
    border-radius:100%;
    background-color: #20AD96;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    height: 92px;
    width: 92px;
    align-items:center;
    justify-content: center;
}

.block6
{
    background-color:#FAF8F6;
    border-radius:25px;
    margin: 0  calc(2rem + 5.56vw);
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 480px;
}

.block6_tittle
{
    font-size: calc(1rem + 1.39vw);
    color:#333461;
    line-height: 45px;
}
.block6 img
{
  width: 100%;
  max-width: 560px;
  min-width: 250px;
  height: auto;
  border-radius: 0 25px 25px 0;
  display: flex;
  align-content:end;
}

.block6 p
{
    color:#4A556C;    
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
}

.block6_text
{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
    padding-top: 8.125rem;
    padding-left: 4rem;
}

@media (max-width: 1200px) { 
    *
    {font-size: calc(15px + 0.08vw);}
    
    .block1, .block5 
    {
        gap:0;
    }  

    .description_for_types
    {
        gap: 2rem; 
    }
    .cards
    {
        flex-wrap: wrap;
    }
    .block4
    {
        padding: 6.01rem  calc(0.5rem + 5.49vw);
    }
    .block6
    {

        justify-content: center;
        align-content:center;
    }
    .block6 img
    {
        display: none;
    }
    .block6_text
    {        
        padding: 0;
        align-items:center;
        text-align: center;
        padding: 8.125rem 4rem;
    }
}

@media (max-width: 1030px) 
{ 
    *
    {font-size: calc( 14px + 0.1vw );}
    .block1, .block5 
    {
       flex-wrap: wrap;
       gap: 15px !important;
    } 

    .block6_tittle
    {
     line-height: normal;
    }

    .block5 .content_text {
        text-align: center;
        align-items:center;
    }

    .block5 .description 
    {
        text-align: center !important;
    }

    .content {
        text-align: center;
    }

    .content
    {
        text-align: center;
        align-content:center;
    }
    .zigzag
    {
        display: none;
    }

    .content_text
    {
        padding: 0 3.125rem;
    }

    .description_for_types
    {
        flex-direction: column;
        text-align: center;

    }
    .description_for_types_text
    {
        align-self: center;
        width: 100%;
    }

    .types
    {
        gap: 5vw;
    }

}

@media (max-width: 768px) { 
    *
    {
        font-size:11.2px;
    }
    
.block1
{
    padding: 0 10vw;  
    padding-top: 3.44rem;
}
.block6
{
    margin:8.3rem calc(1rem + 7.03vw) ;
}
.block2
{
    padding: 6.875rem  15vw;
}
.h1
{
    font-size: calc(2.5rem + 5vw);
}

.h2
{
    font-size: calc(0.5rem + 5vw);
}
.content_text
{
    padding: 0;
}

.photo_from_1_block, .transsform_life
{
    width: 52vw;
    height: auto;   
    min-width: 250px;
}
.success-overlay
{
    left: calc(-2rem - 10vw);
}


}

@media (max-width: 480px) { 
    *
    {
        font-size: 11px;
    }
.block1
{
    margin: 0 auto;
    padding: 0 10vw;  
    padding-top: 3.44rem;
}

.block5
{    
    max-height: 697px !important;
    min-height: auto;
    padding: 0 10vw;  
}
.block2
{
    padding: 6.875rem  5vw;
}

.block6_text
{
    padding: calc(3rem +  11.98vw) calc(1rem + 6.875vw);
}
.h1
{
     font-size: calc(1.5rem + 5vw) ;
}

.h2   
{
    font-size: calc(0.5rem + 5vw);
    line-height: normal;
}
    .success-overlay
{
    left: calc(-0.2rem - 8vw);
}
}